body {
  min-width: 400px;
  min-height: 200px;
}
a {
  text-decoration: none;
}
label {
  display: block;
  margin: 1em 0;
}
input[type='checkbox'] {
  vertical-align: middle;
  position: relative;
  bottom: .08em;
}
ul {
  padding: 0 17px;
}

@media all and (prefers-color-scheme: dark) {
  body {
    background: #202123;
    color: #888f96;
  }
  a {
    color: #aeb9c4;
  }
  a:active {
    color: #888f96;
  }
}
