body {
  min-width: 400px;
  min-height: 200px;
}
a {
  text-decoration: none;
}
label {
  display: block;
  margin: 1em 0;
}
ul {
  padding: 0 17px;
}
p.hidden {
  color: white;
}
p.hidden a {
  color: white;
}
p.hidden:hover {
  color: black;
}
p.hidden:hover a {
  color: blue;
}
