body {
  min-width: 400px;
  min-height: 200px;
}
a {
  text-decoration: none;
}
label {
  display: block;
  margin: 1em 0;
}
ul {
  padding: 0 17px;
}
p.hidden {
  color: white;
}
p.hidden a {
  color: white;
}
p.hidden:hover {
  color: black;
}
p.hidden:hover a {
  color: blue;
}

#extension_version {
  float: right;
}


@media all and (prefers-color-scheme: dark) {
  body {
    background: #202123;
    color: #888f96;
  }
  a {
    color: #aeb9c4;
  }
  a:active {
    color: #888f96;
  }
  p.hidden {
    color: #202123;
  }
  p.hidden a {
    color: #202123;
  }
  p.hidden:hover {
    color: #888f96;
  }
  p.hidden:hover a {
    color: #aeb9c4;
  }
}
