input[type=search] {
  width: 90%;
  font-family: Courier New;
}
label {
  user-select: none;
  -webkit-user-select: none;
}
p {
  margin: .4em 0;
}
button {
  margin: 0 .2em 0 0;
}
h3 {
  margin: 10px 0 0 0;
}
ul {
  margin: 0;
  padding: 0 17px;
}
li {
  white-space: nowrap;
}
a {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}
a[disabled] {
  color: black;
  cursor: not-allowed;
}

.network, .history {
  display: none;
}
body[devtools] .network,
body[history] .history {
  display: block;
}

#network_minsize {
  width: 90px;
  color: gray;
}
#network_minsize.enabled {
  color: black;
}

.network h3,
.history h3 {
  display: inline-block;
  margin-right: 10px;
}
