input[type=search] {
  width: 90%;
  font-family: Courier New;
}
p {
  margin: .4em 0;
}
h3 {
  margin: 10px 0 0 0;
}
#history_header {
  display: none;
}
ul {
  margin: 0;
  padding: 0 17px;
}
li {
  white-space: nowrap;
}
a {
  color: blue;
  cursor: pointer;
  text-decoration: none;
}

.network {
  display: none;
}
body.devtools .network {
  display: block;
}
#network_minsize {
  width: 90px;
  color: gray;
}
#network_minsize.enabled {
  color: black;
}
#network_clear {
  display: none;
}
